<div class="container" ng-controller="loginControl">
    <div class="row" >
        <div class="col-md-4" >
            <div class="col-md-4" >
                <section class="login-form">
                    <form>
                        <img src="http://i.imgur.com/RcmcLv4.png",alt="" class="img-responsive">
                        <input class="form-control input-lg" type="email" required="" ng-model="email" >
                        <input class="form-control input-lg" type="password" required="" ng-model="password" >
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        <p class="text-center">
                            <a href="/users/Adduser">Create account</a> or <a href="#">reset Password</a>
                        </p>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>