<div ng-app="myapp.viewCompany" ng-controller="viewCompany">
    <h3>View</h3>
    <table>
        <tr>
            <td> name</td>
            <td>:{{names}}</td>
        </tr><br>
        <tr>
            <td> mail</td>
            <td>:{{mail}}</td>
        </tr>
        <table>
            <tr ng-repeat="item in items">
                <td>{{$index}}</td>
                <td>{{item.type}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td><button ng-click="delete(item)">Delete Item</button></td>
                <td><button ng-click="update(item)">Update Item</button></td>
            </tr>
        </table>

    </table>
</div>